openapi: "3.0.3"
info:
  title: Multi Media Type Example
  version: "1.0"
paths:
  /users:
    post:
      requestBody:
        $ref: "#/components/requestBodies/CreateUserBody"
      responses:
        "200":
          $ref: "#/components/responses/UserResponse"
        "400":
          $ref: "#/components/responses/ErrorResponse"
components:
  requestBodies:
    CreateUserBody:
      description: User creation payload with multiple content types
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
              email:
                type: string
                format: email
        application/xml:
          schema:
            type: object
            properties:
              name:
                type: string
              email:
                type: string
        multipart/form-data:
          schema:
            type: object
            properties:
              name:
                type: string
              avatar:
                type: string
                format: binary
  responses:
    UserResponse:
      description: Successful user creation
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              email:
                type: string
        application/xml:
          schema:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              email:
                type: string
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
        application/xml:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
