openapi: "3.0.3"
info:
  title: Debug Response API
  version: "1.0"
paths:
  /users:
    get:
      responses:
        "200":
          $ref: "#/components/responses/UserList"
        "404":
          $ref: "#/components/responses/NotFound"
components:
  responses:
    UserList:
      description: A list of users
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/User"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
